<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApJPTiLJmKn36miB389fKcQuAXFZ1-GF0</string>
	<key>GCM_SENDER_ID</key>
	<string>609782653116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madd.smandaapp</string>
	<key>PROJECT_ID</key>
	<string>smandaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>smandaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609782653116:ios:e7d65795d0ada83805b0b9</string>
</dict>
</plist>